/* content */
.content {
    flex: 1;
    padding: 0 ;
    text-align: center;
    /* margin: 20px; */
}
.content img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
}
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f8ff;
}
/*  NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}
.menu a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font-weight: 500;
    transition: 0.3s;
}
.menu a:hover {
    color: #a8cfff;
}
/*  SEARCH */
.navbar input {
    padding: 7px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #ffffff;
}
/*  ARTIST GRID */
.artist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
    padding: 40px;
}
/*  รูปศิลปิน */
.artist-grid img {
    width: 100%;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}
/*  hover effect */
.artist-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(30, 60, 114, 0.4);
}
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f8ff;
}
/* layout หลัก */
.layout {
    display: flex;
}
/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100vh;
    background: linear-gradient(180deg, #182a48, #305389);
    padding-top: 30px;
    position: fixed;
    
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
    margin: 15px 0;
    text-align: center;
}
.sidebar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: 0.3s;
}
/* hover */
.sidebar a:hover {
    background: rgba(205, 145, 145, 0.1);
    color: #ba76a6;
    border-radius: 8px;
}
/* CONTENT */
.content {
    margin-left: 220px;
    padding: 40px;
    width: 100%;
}
/*  CARD */
.card {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 50, 150, 0.15);
    text-align: center;
}
/*  TITLE */
.card h1 {
    color: #3568c0;
    margin-bottom: 10px;
}

/* 📄 TEXT */
.card p {
    color: #444;
    margin: 5px 0;
}
/* 🖼 IMAGE */
.card img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}
/* hover รูป */
.card img:hover {
    transform: scale(1.02);
}
.sidebar ul li a {
    color: #ffffff; /* สีตัวเลขปี */
    text-decoration: none;
    font-size:  18px;
    font-weight: 400;
}
.sidebar ul li a:hover {
    color: #4fc3f7; /* สีตอนเอาเมาส์ไปชี้ */
}
